// размер шрифта по умолчанию
$fontSize: 18px;
$wrapMaxWigth: 1270px;

// Определим цвета сайта
$mainColor: #4E4D4D;
$fontColorWhite: #F4F4F4;
$fontColorGrey: #737373;
$colorFrame: #E4E2E2;
$bgColor: #181818;

/*----------Шрифты--------------*/   
   @font-face {
        font-family: 'Gilroy';
        src: url('.././fonts/gilroy-thin.ttf');        
        font-weight: 300;
        font-style: normal;
    } 
    @font-face {
        font-family: 'Gilroy';
        src: url('.././fonts/gilroy-regular.ttf');        
        font-weight: 500;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Gilroy';
        src: url('.././fonts/gilroy-medium.ttf');         
        font-weight: 600;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Gilroy';
        src: url('.././fonts/gilroy-bold.ttf');        
        font-weight: 700;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Gilroy';
        src: url('.././fonts/gilroy-semibold.ttf');         
        font-weight: 800;
        font-style: normal;
    }   
    
    /*End Fonts*/
   // Назначение шрифтов
h1{	
font-family: "Gilroy", "Arial", serif;
font-weight: 700;
font-size: 72px;
color: $fontColorWhite;   
}

h2{	
	font-family: "Gilroy", "Arial", serif;
    font-weight: 700;
    font-size: 58px;
    color: $fontColorGrey;
    margin-top: 0;
    margin-bottom: 20px;
    // position: absolute;
    // top:-2rem;
}
h3{	
	font-family: "Gilroy", "Arial", serif;
    font-weight: 700;
    font-size: 26px;
    color: $fontColorGrey;
    margin: 0;
    text-transform: uppercase;
}
h4{
	font-family: "Gilroy", "Arial", serif;
    font-weight: 500;
    color: $fontColorGrey;
}

ul, li {
    padding: 0;
    margin: 0 0 0 10px;
    list-style-type: none;  
    margin-bottom: 5px;  

  }

li{
	font-family: "Gilroy", "Arial", serif;
    font-weight: 500;
    font-size: $fontSize;
    list-style: none;
	margin-left: 0;	

}

p{
	font-family: "Gilroy", "Arial", serif;
    font-weight: 500;
    font-size: 20px;
    margin: 0;

}
span{
	font-family: "Gilroy", "Arial", serif;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
}
a{
	font-family: "Gilroy", "Arial", serif;
    font-weight: 500;
    font-size: $fontSize;
    text-decoration: none;
    color: $fontColorWhite;
}
button{
    border: none;
}
body, html{
    margin: 0;
    padding: 0;    
    font-family: "Gilroy", Arial, serif;   
    user-select: none;
    background-color: $mainColor;
    color: $fontColorWhite;
    scroll-behavior: smooth;
}
*{
    //box-sizing: border-box;
}
section{
    max-width: $wrapMaxWigth;
    width: 100%;   
    margin: 0 auto;
    // padding-left: 25px;
    // padding-right: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $bgColor;
    position: relative;
    box-sizing: border-box;
}
address{
    font-style: normal;
}
article{
    max-width: $wrapMaxWigth - 100px;
    width: 100%;   
    margin: 0 auto;
    padding: 0 20px;
      box-sizing: border-box;
}


.textwrap{
    word-break:break-all;
}

// --- Nav menu ----
nav{
    .nav-wrapper {
        height: 100px;
        .section-nav {
             background-color: $fontColorGrey;
            height: 100px;
            padding: 0;
          
            .nav-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 70px;
                height: 100px;
                
                .nav-menu-item {
                   cursor: pointer; 
                   height: 20px;
                font-size: 22px;                   
                        

                   span{
                    height: 3px;
                    background-color: black;
                    display: block;
                    margin-top: 10px;
                    transition: .3s;
                    width: 0;
                   }
                }
                .nav-menu-item:hover{
                    span{
                       width: 100%; 
                    }
                    
                }
            }
        }
    }  
}
.mobile{
    display:none;
    position: relative;
   .burger-btn{
        width: 50px;
        height: 50px;
        background-color:black;
        cursor: pointer;
        position: fixed;
        top: 5px;
        left: 5px;
        z-index: 1;
        background-image: url('.././img/icons/menu_open.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
        transition: .3s;

            .nav-mobile-wrapper {
    position: absolute;
    width: 300px;
    //width: 100%;
    top: 50px;
    left: -350px;
    z-index: 1;
    transition: .5s;
    
   

             .section-mobile-nav {
         background-color: $fontColorGrey;
        height: 45vh;
        max-width: inherit;
    width: 100%;
        padding: 0;
        margin: 0;
        border-radius: 0 0 10px 0;
        .nav-mobile-menu {
            max-width: inherit;
            padding: 50px 20px;
            width: 100%;
            height: 45vh;

            display: flex;
            flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            .nav-menu-item {
                margin-bottom: 30px;
                span{
                    height: 3px;
                    background-color: black;
                    display: block;
                    //margin-top: 10px;
                    transition: .3s;
                    width: 0;
                   }
                }
                .nav-menu-item:hover{
                    span{
                       width: 100%; 
                    }
                
            }
        }
    }
    } 


}
}






//------ Header--

.my_photo{
    width: 200px;
    height: 200px;
    border-radius: 10rem;
    margin: 0 auto;
    display: block;
}
h1{
    text-align: center;
    letter-spacing: .2rem;
}
.delimeter{
    //max-width: $wrapMaxWigth;
    max-width: 90%;
    height: 3px;
    background-color: $fontColorWhite;
    margin: 0 auto;

}
address{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    p{ 

        display: flex;
        img{
            margin-right: 3px;
        }

    }
    p:not(:first-child){
            margin-left: 20px;
           
        }
}
h1{
    margin-bottom: 10px;
}


// --Section Work Experience--
.title{
    max-width: $wrapMaxWigth;
    //width: 100%;
    font-size: 24px;
    font-weight: 600;
   // margin-top: 20px;
    color: $fontColorWhite;
    background-color: $fontColorGrey;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 2rem;
    margin: 30px 0 0px 0;
}
.subtitle{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0px;
    margin: 10px 0 10px 0;
}
.text{
    max-width: 100%;
}
.dates{
    font-size: 20px;
    margin: 10px 0 10px 0;

}
.skills-title{
    font-size: 24px;
    //margin-bottom: 10px;
    width: 150px;

}
.skills-stars{
   font-size: 32px; 
   //margin-top: -6px;
}
.skills-wrap{
    margin-bottom: 10px;
    display: flex;
    align-items: baseline;
}

pre{
    max-width: $wrapMaxWigth;
    width: 100%;
    margin-bottom: 0;
    white-space: pre-wrap;

}
.hljs.language-javascript{
    border-radius: 10px;
    background-color: black;
}


//---- Адаптивность--
@media all and(max-width: 1024px){
    .desctop{
        display: none;
    }
    .mobile{
        display: block;
    }

}

@media all and(max-width: 640px){
h1{ 
font-size: 62px; 
}

h2{     
    font-size: 48px;   
}

}
@media all and(max-width: 400px){
h1{ 
font-size: 52px; 
}

h2{     
    font-size: 38px;   
}
.title{
    font-size: 22px;
    padding: 5px 15px;
}

}